* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: antiquewhite;
    color: black;
}

.contenedor {
    margin: 20px auto;
    display:grid;
    padding: 10px;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                         "contenido foto1 foto1"
                         "contenido foto1 foto1"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header, 
.contenedor .contenido,
.contenedor .foto1,
.contenedor .footer  {
    background: darkturquoise;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .foto1 {
    grid-area: foto1;
}

.contenedor .footer {
    grid-area: footer;
}












/* INICIO HEADER HIJO CON FLEXBOX*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__logo{
    width: 10rem;
    margin: 1rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.header__list{
    display: flex;
    list-style: none;
}

.header__item{
    margin: 10px;
}

.header__anchor{
    text-decoration: none;
    color:dimgrey;
    font-size: 1.5rem;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header__anchor--activo{
    background-color: burlywood;
}

/* FINAL HEADER HIJO CON FLEXBOX*/
