.maineventos{
    &__div{
        display: flex;
        justify-content: center;
    } 
    &__video{
        width: 100rem;
    } 
    &__divparrafo{
        padding: 5rem;
    } 
    &__parrafo{
        text-align:left;
    } 
    
}