@media screen and (max-width: 1024px) {
    
    .index__1{
        flex-direction: column;
        align-items: center;
    }

    .index__2{
        flex-direction: column;
        flex-direction: column-reverse;
        padding-left: 0px;
    }

    .index__div{
        flex-direction: column;
        padding: 30px;
    }

    .index__imagen{
        width: 18rem;
    }

    .cervezas__imagen{
        width: 15rem;
    }
    .mainnosotros__1div{
        flex-direction: column;
    }
    .maineventos__video{
        width: 60rem;
    }
}

@media screen and (max-width: 768px) {
    
    .header{
        flex-direction: column;
        margin-right: 20px;
    }

    .header__list{
        flex-direction: column;
    }

    .index__1{
        flex-direction: column;
        padding-right: 0px;
    }

    .index__2{
        flex-direction: column;
        flex-direction: column-reverse;
        padding-left: 0px;
    }

    .index__div{
        flex-direction: column;
        padding: 30px;
    }

    .cervezas__fila1 {
        flex-direction: column;
        width:100%
    }

    .cervezas__fila2 {
        flex-direction: column;
    }

    .cervezas__imagen{
        width: 25rem;
    }

    .index__imagen{
        width: 500px;
    }
    
    .cervezas__parrafo{
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .mainnosotros__1div{
        display: flex;
        flex-direction: column;

    }
    .maineventos__video{
        width: 45rem;
    }

}


@media screen and (max-width: 320px) {

    .header{
        flex-direction: column;
    }

    .header__list{
        flex-direction: column;
    }

    .index__1{
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }

    .index__2{
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0px;
        
    }

    .index__imagen{
        width: 18rem;
    }

    .index__titulo{
    font-size: 30px;
    }
    
    .index__parrafo{
        font-size: 15px;
        margin: 20px;
        
    }

    .cervezas{
        padding: 10px;
    }
    
    .cervezas__div{
        flex-direction: column;
       
    }

    .cervezas__imagen{
        width: 17rem;
    }
    .cervezas__fila1 {
        flex-direction: column;
        width:100%
    }

    .cervezas__fila2 {
        flex-direction: column;
        
    }

    .cervezas__parrafo{
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .mainnosotros__1div{
        flex-direction: column;
    }

    .maineventos__video{
        width: 100%;
    }

    .mainform__datosdiv{
        width: 15rem;
    }
    .mainform__datosinput{
        width: 10rem;
    }
    
    .footer__logo{
    width: 2.5rem;
    }
    
}