@media screen and (max-width: 1024px) {
    
    .index__1{
        flex-direction: column;
        align-items: center;
    }

    .index__2{
        flex-direction: column;
        flex-direction: column-reverse;
        padding-left: 0px;
    }

    .index__div{
        flex-direction: column;
        padding: 30px;
    }

    .cervezas__imagen{
        width: 15rem;
    }

}

@media screen and (max-width: 768px) {
    
    .header{
        flex-direction: column;
    }

    .header__list{
        flex-direction: column;
    }

    .index__1{
        flex-direction: column;
        align-items: center;
    }

    .index__2{
        flex-direction: column;
        flex-direction: column-reverse;
        padding-left: 0px;
    }

    .index__div{
        flex-direction: column;
        padding: 30px;
    }
    .cervezas__fila1 {
        flex-direction: column;
        width:100%
    }

    .cervezas__fila2 {
        flex-direction: column;
    }

    .cervezas__imagen{
        width: 15rem;
    }
    
    .cervezas__parrafo{
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .mainnosotros1__div{
        flex-direction: column;
    }

}


@media screen and (max-width: 320px) {

    .header{
        flex-direction: column;
        width: 320px;
    }

    .header__list{
        flex-direction: column;
    }

    .index__1{
        flex-direction: column;
        align-items: center;
        
    }

    .index__2{
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .index__titulo{
    font-size: 2rem;
    }
    
    .index__parrafo{
        width: 150px;
    }

    .cervezas__div{
        flex-direction: column;
       
    }

    .cervezas__fila1 {
        flex-direction: column;
        width:100%
    }

    .cervezas__fila2 {
        flex-direction: column;
        
    }

    .cervezas__imagen{
        width: 16rem;
    }
    
    .cervezas__parrafo{
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .mainnosotros__1div{
        flex-direction: column;
    }

   
    .maineventos__video{
        width: 100%;
    }

    .footer__logo{
    width: 2.5rem;
    }
    .footer{
        width: 320px;
    }
}